# **Data Wrangling Lab**

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In [3]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 154

## Removing duplicates

In [4]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [5]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [6]:
len(df['Respondent'].unique())

11398

## Finding Missing values

In [7]:
pd.set_option('display.max_rows', None)  # Set option to display all rows
print(df.isna().sum())

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     51
EdLevel                    112
UndergradMajor             737
EduOther                   164
OrgSize                     96
DevType                     65
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   493
MgrMoney                   497
MgrWant                    493
JobSeek                      0
LastHireDate                 0
LastInt                    413
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                39
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkPlan                   121
WorkChallenge              164
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2426
UnitTests                   29
PurchaseHow                196
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
MiscTechWorkedWith        2182
MiscTechDesireNextYear    1455
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2322
BlockchainIs              2610
BetterLife                  98
ITperson                    35
OffOn                       38
SocialMedia                293
Extraversion                20
ScreenName                 507
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 50
SOHowMuchTime             1917
SOAccount                    1
SOPartFreq                1128
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               85
SONewContent              1965
Age                        287
Gender                      73
Trans                      123
Sexuality                  542
Ethnicity                  675
Dependents                 140
SurveyLength                19
SurveyEase                  14
dtype: int64

Rows that are missing in the column 'WorkLoc'

In [8]:
df[['WorkLoc']].isna().sum()

WorkLoc    32
dtype: int64

## Imputing missing values

In [9]:
df[['WorkLoc']].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that have been identified as majority.

In [10]:
import numpy as np

In [11]:
df['WorkLoc'].replace(np.nan, 'Office', inplace=True)

Verify if imputing was successful.

In [12]:
df[['WorkLoc']].isna().sum()

WorkLoc    0
dtype: int64

## Normalizing data

We have two columns in the `df` about compensation. One is `CompFreq`, indicating the frequency of payment for developers (Yearly, Monthly, Weekly). The other is `CompTotal`, containing the developer's payment per Year, Month, or Week based on their `CompFreq`. This setup complicates comparing total compensation among developers. 

We will create a new column called `NormalizedAnnualCompensation`, which will contain the Annual Compensation regardless of the `CompFreq`. It simplifies the comparison of salaries.

In [13]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [14]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [15]:
norm_data = []

for i in range(len(df)):
    
    if df['CompFreq'].iloc[i] == 'Weekly':
        norm_data.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] == 'Monthly':
        norm_data.append(df['CompTotal'].iloc[i]*12)
    else:
        norm_data.append(df['CompTotal'].iloc[i]*1)

df['NormalizedAnnualCompensation']= norm_data

Median of the Annual Compensation

In [16]:
df['NormalizedAnnualCompensation'].median()

100000.0

**Save the data**

In [17]:
df.reset_index()
df.to_csv('2.1 Survey data after wrangling.csv', index=False)